---
const projects = [
  {
    name: "My first Blog - Blue",
    desc: "Inspired by https://leerob.io/",
    url: "https://v1.huyixi.com",
    image: v1,
    time: "2023",
  },
  {
    name: "Web2Book",
    desc: "A tool to convert web page to ebook",
    url: "https://github.com/huyixi/web2book",
    image: "",
    time: "2023",
  },
  {
    name: "Personal Wiki",
    desc: "My wiki",
    url: "https://huyixi.wiki",
    image: wiki,
    time: "2023",
  },
  {
    name: "My Second Blog - White",
    desc: "My Second Personal Blog",
    url: "https://huyixi.org",
    image: v2,
    time: "2024",
  },
  {
    name: "Personal Website",
    desc: "Inspired by Tomorrow Happens",
    url: "https://huyixi.com",
    image: tomorrwo,
    time: "2024",
  },  {
    name: "Only Black",
    desc: "A minimalist black Chrome theme. Inspired by Tw93",
    url: "https://chromewebstore.google.com/detail/only-black/imabedafnokpmhinapjjocggchcnfmgo?utm_source=ext_app_menu",
    image: onlyBlack,
    time: "2024",
  },
];
import { Image } from "astro:assets";
import v1 from "../assets/v1.png";
import v2 from "../assets/v2.png";
import wiki from "../assets/wiki.png";
import tomorrwo from "../assets/tomorrow.png";
import onlyBlack from "../assets/only-black.png";
---

<section
  id="nav-panel-project"
  style="display: none;"
  class="flex flex-row mt-8"
>
  <ul class="border-t border-[rgb(0,0,0,.3)]">
    {
      projects.map((item, index) => (
        <li class="relative group">
          <div
            class={`project-menu-item grid grid-cols-8 gap-px cursor-pointer hover:border-[rgb(0,0,0,.3)] w-36vw ${
              index === 0 ? "" : "border-t border-transparent "
            } `}
          >
            <div class="project-item-index">
              {(index+1).toString().padStart(2, "0")}
            </div>
            <div class="project-item-title col-span-5">{item.name}</div>
            <div class="project-item-url">
              <a href={item.url} target="_blank">Live ↗</a>
            </div>
            <div class="project-item-year">{item.time}</div>
          </div>
          <div class="project-item-desc absolute left-100% top-0 w-350px h-360px opacity-0 group-hover:opacity-100">
            {item.image && <Image src={item.image} alt={item.name} />}
            <div>{item.desc}</div>
          </div>
        </li>
      ))
    }
  </ul>
</section>
<script>
  import { isProjectOpen } from "../store";
  isProjectOpen.subscribe((open) => {
    if (open) {
      document.getElementById("nav-panel-project").style.display = "block";
    } else {
      document.getElementById("nav-panel-project").style.display = "none";
    }
  });
</script>
